*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#top *{
    margin:0;
}
#top{
    margin:auto;
}
#racers{
    display:flex;
    flex-direction:column;
    border: 1px solid black;
    align-items:flex-start;
}
.row{
    text-align:left;
}
#game{
    border:1px solid black;
    max-height:50vh;
}